	/*CSS*/

body {
	font-family: Helvetica, Arial;
	font-style:normal;
	background-color:white;
}

section {
	background: url(img/back.gif) no-repeat center;
	height: 460px;
	position: center; 
	background-color:#000000  !important;
}

.section-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;

  }
.section-text > h1 {
	border:12px solid;
	padding: 13px
  }
  .section-text-secondary {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #abbfd8;

  }
.section-text-secondary {
	padding: 13px
  }

  
  .section-text-secondary > p {
	font-family: bree-w01-thin-oblique, sans-serif;

  }
nav {
	font-family: Helvetica, Arial;
	text-align: center;
}

a {
	text-decoration: none !important;
	color: black !important;
}

li {
	padding-right: 40px  !important;
	padding-left: 40px  !important;
	padding-top: 60px  !important;
}

li.nav-item-img{
	padding-right: 30px  !important;
	padding-left: 10px  !important;
	padding-top: 10px  !important;
}

li > a:hover {
	color: #ececec !important;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
	backface-visibility: hidden !important; 
  }

 footer {
	clear:both;
	background-color:#000000;
	height:50px;
	color: #c4c4c4 !important;

}


	