	/*CSS*/

	*{
		margin: 0;
		padding: 0;
	}
	
body{
	
	font-family: Helvetica, Arial;
	font-style:normal;
	background-color:white;
	
}

header{
	
}

nav{
	
	font-family: Helvetica, Arial;
	font-style: italic;
	allign: center;
	
}

footer{
	clear:both;
	background-color:black;
	height:50px;
}


	